*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: "Ubuntu", sans-serif;

}

.container{
	margin-bottom: 100px;
}

.nav{
	background-color: black;
}


.flex-nav{
	display: flex;
	justify-content: space-between;
}

.nav2{
	background: white;
	line-height: 30px;

}

.left, .right{
	width: 50%;
	font-family: Shentox, sans-serif;
	color: #AAAAAA;
	font-size: 14px;	
}

.left ul, .right ul{
	display: flex;
	/*padding: 10px 20px;*/
}

.right ul{
	justify-content: flex-end;
}

.left li, .right li{
	
	padding: 10px 20px;
}

#itembox{
	position: relative;
	bottom: 2px;
	padding: 2px 20px;
	color: white;
	/*padding: 20 0px;*/
	background-color: #00CCCC;
	border-radius: 5px;
}

.bar{
	font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
	font-size: 14px;
	padding: 7px 20px;
	background-color: #FFE800;
}

.grid{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	min-height: 550px;
	color: white;
	background: rgba(0,0,0,.25) url(images/image-gradient.png) no-repeat;

}

.flex{
	display: flex;
}

.cover-header{
	height: 100%;
	position: relative;

}

.grid1{
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(170deg, rgba(255, 66, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.46451612903225803)80%, 
		rgba(0, 0, 0, 1) 90% ), 
		url(images/Hikeland-796x417.jpg);
  	background-size: cover;
	background-position: cover;
}

.top{
	height: 50%;
	display: flex;
	justify-content: space-between;
	
}

.text-bottom{
	position: absolute;
	bottom: 0;
	line-height: 1;
    margin-bottom: 20px;
}



.grid2{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	
}


/*images for grid*/
#big-logo{
	height: 115px;
	width: 360px;
	margin-left: 20px;
	margin-top: 10px;
}

.gridchild1{
	background-color: rgba(0,0,0,.25);
	background-image: linear-gradient(176deg, 
		rgba(255, 0, 0, 0) 0%, 
		rgba(0, 0, 0, 0.46451612903225803) 49%, 
		rgba(0, 0, 0, 1) 86% ),url(images/image-gradient.png), url(images/cc_series_empty-1200x628.jpg);
	background-size: cover;
	background-position: cover,cover;
	background-repeat: no-repeat, no-repeat;
}

.gridchild2{
	background-image: linear-gradient(176deg, 
		rgba(255, 0, 0, 0) 0%, 
		rgba(0, 0, 0, 0.46451612903225803) 49%, 
		rgba(0, 0, 0, 1) 86% ), url(images/1-18-796x417.jpg);
}

#date{
	font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    padding: 10px;
}

.big-text, .medium-text{
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
}

.medium-text{
	font-size: 28px;
    letter-spacing: -.015em;
   
}

.big-text{
	
    font-weight: 700;
    letter-spacing: -0.015em;
    font-size: 48px;
}

.small-text{
	color: rgba(255, 255, 255, 0.6);
	padding: 10px;
	word-spacing: 2px;
}

.icons{
	position: relative;
	top: 7px;
	padding-right: 5px;
}

.section-container{
	margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}

.section-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin-bottom: 100px;
}

.section-grid.two-rows{
	grid-template-rows: 1fr 1fr;
}

.grid-box{
	width: 100%;
}

.section-grid img{
	width: 100%;
}

.section-small-text{
	color: #AAAAAA;
	word-spacing: 2px;
}

.section-text{
	font-size: 16px;
	padding: 5px 0;
}

.section{
	margin: 10px 0;
}

.section-header{
	font-family: Avalon, sans-serif;
	font-weight: 700;
	color: rgb(255, 68, 34);
	
	margin-bottom: 10px;
	font-size: 28px;
}

.flex-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.border{
	margin-left: .6em;
    padding-left: .6em;
    border-left: 1px solid #ccc;
}

.flex-section-header-nav{
	display: flex;
	font-family: Avalon, sans-serif;
	color: rgb(255, 68, 34);
	
}

.section.grid-box{
	height: 294px;
}

.img-box{
	width: 100%;
	height: 100%;
    margin: 10.6666666667px 0;
    /*border: 1px solid black;*/
}

.img-box img{
	width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.img-box-top{
	position: relative;
	color: #fff;
	/*how to position close to center without usign text-align: */
	padding: 10.6666666667px 16px 10.6666666667px 84px;
	background-color: #FF4422;
	
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-box-bottom{
	/*how to position close to center without usign text-align: */
	padding: 10.6666666667px 16px 10.6666666667px 84px;
	background: rgba(255, 68, 34, .10);
	
}

.content-money{
	font-family: Avalon,sans-serif;
	font-size: 18px;
	font-weight: 700;

}

.seed-round{
	font-size: 12px;
	font-family: Shentox,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.5;
}

.investment-card{
	
	padding: 16px;
	background: rgba(255,68,34,.04);
	/*display: flex;
	align-items: center;*/
}

.investment-icon{
	display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 13px;
    color: #555;
    line-height: 22px;    
    padding-right: 2em;
    
}

/*algin items in item box*/
.investment-item-box{

	display: flex;
    align-items: center;
    margin: 1em 0;
}

.investment-icon.tag{	
    background: transparent url(images/icons-sprite.svg) no-repeat;
    background-position: -976px -976px;
    
    
}

.investment-icon.briefcase{
	background: transparent url(images/icons-sprite.svg) no-repeat;    
    background-position: -48px -48px;
}

.line-through {
  /*text-decoration: line-through;*/

  border-top: 0.1px solid #ffcc99;
  width: 100%;
  height: 0.1px;
}

.stroy-title{
	font-size: 12px;
    font-weight: 400;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

.story-title-course{
	color: #aaa;
	font-size: 12px;
   	padding-left: 5px;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

.grid-3colums{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

/*.article-grid{

}
*/


.img-box-articles{
	height: 276px;
	position: relative;
	margin: 5px 0;

}

.img-box-header{
	bottom: 0;
    left: 0;
    padding: 14px;
    position: absolute;
    right: 0;
    z-index: 3;
}

.img-box-articles.img1{
	/*background-image: linear-gradient(170deg, rgba(255, 66, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.46451612903225803)80%, 
		rgba(0, 0, 0, 1) 90% ), 
		url(images/Hikeland-796x417.jpg);*/
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/Untitled-design-80-368x276.png);    

}

.img-box-articles.img2{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/header-image-the-nuraphone-headphones-368x276.png);    
}

.img-box-articles.img3{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/quantum_generic-368x276.jpg);
}

.img-box-articles.img4{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/Untitled-design-1-368x276.jpg);
}

.img-box-articles.img5{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/random-institute-GkacI-_mGlg-unsplash-3-368x276.jpg);
}

.img-box-articles.img6{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/spotdash4-368x276.png);
}

.img-box-articles.img7{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/Untitled-design-1-368x276.jpg);
}

.img-box-articles.img8{
	background-image: linear-gradient(176deg, rgba(255,0,0,0) 0%, 
		rgba(0,0,0,0.46451612903225803) 49%, 
		rgba(0,0,0,1) 86%), 
		url(images/Untitled-design-1-368x276.jpg);
}


.article-header{
	font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
	color: #fff;
    font-size: 13px;
    padding-bottom: 4px;
}

.article-description{
	color: #fff;
	margin-bottom: 6px;
	font-size: 20px;
}

.latest-header{
	display: flex;
	height: 96px;
}

.latest-header img{
	height: 100%;
	max-width: 128px;
}

.header-text-box{
	padding: 10px 14px 0;
	background-color: rgba(255,68,34,.06);

	
}

.header-text-box h4{
	font-size: 15px;
	color: #f42;
    font-weight: 700;
    line-height: 1.25;

}

.header-text-box h5{
	color: #f42;
	font-size: 12px;
	font-family: Shentox,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.5;
	padding: 0;
}

.section-headline-flex{
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

.section-headline-flex li{
	border-bottom: 1px solid #eee;
}

.bullets{
	color: #f42; /* Change the color */
	padding-left: 5px;
	position: relative;
	top: 7px;

}

.section-headline-title{

	color: #555555;
	font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 2px;
    padding: 6px 0 6px 14px;
}

.article-box{
	display: flex;
}

.article-img{
	background-position: top top;
	
}

.article-title-flexbar{
	display: flex;
	justify-content: space-between;
}

.title-text{
	color:rgb(255, 68, 34);
	font-family: Avalon, sans-serif;
    color: rgb(255, 68, 34);
}

.grid-4colums{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}