*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: montserrat;
	color: white;
}

nav{
	background-color: black;
}


ul{
	display: inline-block;
}

.left li,.right li{
	padding: 10px 20px;
	display: inline-block;
}
/*
.left{
	float: left;
}*/

.right{
	float: right;
}