*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: montserrat;
	
}

.nav{
	background-color: black;
}


.flex-nav{
	display: flex;
	justify-content: space-between;
}

.nav2{
	background: white;
	line-height: 30px;

}

.left, .right{
	width: 50%;
	font-family: Shentox, sans-serif;
	color: #AAAAAA;
	font-size: 14px;	
}

.left ul, .right ul{
	display: flex;
	/*padding: 10px 20px;*/
}

.right ul{
	justify-content: flex-end;
}

.left li, .right li{
	
	padding: 10px 20px;
}

#itembox{
	position: relative;
	bottom: 2px;
	padding: 2px 20px;
	color: white;
	/*padding: 20 0px;*/
	background-color: #00CCCC;
	border-radius: 5px;
}

.bar{
	font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
	font-size: 14px;
	padding: 7px 20px;
	background-color: #FFE800;
}

.grid{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	min-height: 550px;
	color: white;
	background: rgba(0,0,0,.25) url(images/image-gradient.png) no-repeat;

}

.flex{
	display: flex;
}

.grid1{
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(170deg, rgba(255, 66, 0, 0.8) 20%, 
		rgba(0, 0, 0, 0.46451612903225803)80%, 
		rgba(0, 0, 0, 1) 90% ), 
		url(images/Hikeland-796x417.jpg);
  	background-size: cover;
	background-position: cover;
}

.top{
	height: 50%;
	display: flex;
	justify-content: space-between;
	
}

.grid1-bottom{
	display: flex;
	align-items: flex-end;
	height: 50%;
}



.grid2{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	
}


/*images for grid*/
#big-logo{
	height: 115px;
	width: 360px;
	margin-left: 20px;
	margin-top: 10px;
}

.gridchild1{
	background-color: rgba(0,0,0,.25);
	background-image: linear-gradient(176deg, 
		rgba(255, 0, 0, 0) 0%, 
		rgba(0, 0, 0, 0.46451612903225803) 49%, 
		rgba(0, 0, 0, 1) 86% ),url(images/image-gradient.png), url(images/cc_series_empty-1200x628.jpg);
	background-size: cover;
	background-position: cover,cover;
	background-repeat: no-repeat, no-repeat;
}

.gridchild2{
	
	background-image: linear-gradient(176deg, 
		rgba(255, 0, 0, 0) 0%, 
		rgba(0, 0, 0, 0.46451612903225803) 49%, 
		rgba(0, 0, 0, 1) 86% ), url(images/1-18-796x417.jpg);
}